body {
  color: rgb(70, 70, 70);
}

h1 {
  color: rgb(0, 0, 0);
  margin: 1rem auto 0;
  font-size: 60px;
}

h2 {
  margin: 1.2rem auto;
  font-size: 35px;
}

h6 {
  font-size: 10px;
  text-align: right;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

input.city-search,
input.search-button {
  font-size: 12px;
}

footer {
  margin: 0px auto 40px;
  max-width: 800px;
  font-size: 12px;
}
.weather-app {
  max-width: 800px;
  margin: 30px auto 0px;
  padding: 40px;
  border: 1px solid rgb(212, 202, 202);
  border-radius: 10px;
}
.date-and-time {
  margin: 0 auto 0 5px;
  font-size: 15px;
}

.temperature-today {
  font-size: 45px;
}

.current-icon {
  margin: -25px -10px -10px;
}
.degrees {
  font-size: 15px;
  position: relative;
  top: -18px;
}

.info {
  font-size: 20px;
}
.info li {
  padding: 5px;
}
.forecast-days {
  padding-top: 30px;
}
.forecast-days li {
  border-left: 1px solid rgb(212, 202, 202);
  padding: 10px;
}
.condition-txt {
  text-transform: capitalize;
}
.col-4 {
  text-align: center;
}

.conversion a {
  text-decoration: none;
}
.conversion .active {
  color: rgb(0, 0, 0);
  cursor: default;
}
